@layout("TypeCast") {
    <div class="container" style="font-size : 14px">
        <section id="main-content">
            <div class="row" style="padding-top : 10px">
                <div class="row">
                    <div class="col-md-4 rotateOut">
                        <div class="panel" style="border: 1px solid #000000">
                            <div class="panel-heading text-center" style="padding: 3px 3px"><h3 style="font-size: 25px">Scala In and Out</h3></div>
                            <div class="panel-body" style="text-align : justify">
                                <p>Yet another programming book on scala, the only difference is that it is being written
                                by a new comer to scala rather than a professional. Hope you enjoy the ride.</p>
                            <div class="pull-right">
                                <span class="label label-default">Scala</span>
                                <span class="label label-default">14th July 2014</span>
                                <a href="@routes.ScalaBook.preface()" class="btn btn-default">Read More</a>
                            </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

}